<div id= "cloudy">
 <div id= "text"><h1> Awesome Weather App</h1>

<h2> IT'S CLOUDY! </h2>
<h2> and <br> <%= @temp %> degrees Fahrenheit <br> in <%= @city %>. </h2>
<h4>Skies will be gray and miserable.</h4>
 </div>
</div>
