<div id="foggy">
<div id= "text">
 <h1> "Awesome Weather App" </h1>
<h2> IT'S FOGGY! </h2>
<h4>Be careful when you drive!</h4>
<h2> and <br> <%= @temp %> degrees Fahrenheit <br> in <%= @city %>. </h2>
</div>
</div>
