<div id = "home">
		<div id= "text">
			<form  action="/weather" method = "post">
				<h1> Awesome Weather App</h1>
				<p> Enter your location by zip code or city and state: </p>
				<input type="text" name = "post[location]" />
				<input type="submit" value= "Search" />
			</form>
		</div>
</div>
