<div id= "otherweather">
	<div id= "text">
		<h1>Awesome Weather App</h1>
		<h4> What are you talking about??? <br>
		<h4> That's some other kind of weather.</h4>
		<h2>The Weatherman says it's  "<%= @weather %>" and <br> <%= @temp %> degrees Fahrenheit <br> in <%= @city %>. </h2>
	</div>

</div>
