<div id = "rainy"> 
<div id= "text">
<h1> Awesome Weather App </h1>
<h2> IT'S RAINY! </h2>
<h2> and <br> <%= @temp %> degrees Fahrenheit <br> in <%= @city %>. </h2>
<h4>Make sure you have your umbrella and your rainboots!</h4>
</div>
</div>
